.nws-img-w-text.nws-same-padding {
    padding: 80px 0;
}
.nws-custom-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}
.nws-custom-row {
    margin-top: 35px;
}
.nws-section-heading {
    font-size: 48px;
    font-weight: 600;
    color: #000;
    font-family: sans-serif;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.nws-section-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 30px auto 0 auto;
}
.nws-section-desc p {
    margin-top: 0;
    margin-bottom: 0;
}
.nws-inner-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nws-inner-row:nth-child(even) {
    flex-direction: row-reverse;
    margin-top: 60px;
}
.nws-block-heading {
    font-size: 36px;
    font-weight: 600;
    font-family: sans-serif;
    color: #000;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}
.nws-block-content {
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
    color: #000000;
    line-height: 1.3;
    margin-top: 30px;
    margin-bottom: 0;
    display: block;
}
.nws-block-content p {
    margin-top: 0;
    margin-bottom: 0;
}
.nws-block-btn {
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;
    color: #000;
    line-height: normal;
    width: 100%;
    max-width: 200px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
    border: 3px solid #000000;
    box-shadow: -3px 3px 0 #000000;
    transition: box-shadow 0.1s, transform 0.1s;
    border-radius: 34px;
}
.nws-btn-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 125px;
    display: flex;
    margin-top: 30px;
}
.nws-block-btn:hover {
    color: #000;
}
.nws-btn-wrapper:before {
    content: '';
    position: absolute;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    transition: transform 0.1s;
    transform: scale(0) rotate(20deg);
}
.nws-btn-wrapper:hover:before {
    height: 100%;
    top: -30%;
    left: -15%;
    background-image: url(/cdn/shopifycloud/brochure/assets/mr-beast/splat-primary-ff0bdcf698af9ba7d5c60b99426fcd2d2edb0aa6b1f34c6bf270a5ec986852dd.svg);
    transform: scale(1) rotate(0);
    width: 100%;
}
.nws-thum-img, .nws-video-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    object-fit: cover;
}
.nws-thum-img {
    z-index: 1;
    cursor: pointer;
}
.nws-video-poster-hide .nws-thum-img, .nws-video-poster-hide .nws-video-icon {
    z-index: 0;
}
.nws-video-icon {
    display: block;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    background: #f94515;
    width: 75px;
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    padding: 12px 15px;
    border-radius: 6px;
}
.nws-video-icon:hover {
    background: #333;
}
.nws-col-w {
    width: 50%;
    padding: 0 30px;
}
.nws-media-col .video {
    position: relative;
    /* padding-bottom: 60%; */
}
.nws-video-container {
    background: #000;
    position: relative;
    /* z-index: -99; */
    display: block;
    padding-bottom: 64%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
@media (min-aspect-ratio: 16 / 9) {
    .nws-video-wrapper {
      position: absolute;
      width: 330%;
      left: -115%;
      height: 100%;
      top: 0;
    }
}